<div class="main">
<nav class="navbar navbar-expand-lg navbar-light bg-light col-12 main" style="padding-top: 100px;position: fixed;z-index: 998;">
  <app-headerchat [newBtn] = "false" class="col-12"></app-headerchat>
</nav>

<div #scrollMe class="container col-12" style="padding-top: 200px;padding-bottom:50px;z-index: 997;height: auto;">
   
  
  <app-cardlist (selectedOption)="selectedOption($event)" [chats]= "users" ></app-cardlist>
  

  </div>

  <nav class="col-12 main" style="bottom: 7%;position: fixed;z-index: 998;">
   <app-searchbar (inputText)="writeMsg($event)"></app-searchbar>
  </nav>
</div> 
<!-- Button trigger modal -->


<app-modal [item]="searchItem" (valueInputText)="saveMessage($event)" [element]="element" [detail]="detail" [edit]="true"></app-modal>
