<div class="main">
  <nav class="navbar navbar-expand-lg navbar-light bg-light col-12 main" style="padding-top: 100px;position: fixed;z-index: 998;">
    <app-headerchat [newBtn] = "true" [navbar]="groupElement" (searchAgain)="searchAgain($event)" (selectedItem) = "selectedElement($event)" (searchValue)="searchElement($event)" class="col-12"></app-headerchat>
  </nav>
  <div class="container col-12" style="padding-top: 200px;padding-bottom:150px;z-index: 997;">
   
    <app-elementlist [searchValue]="searchValue" (selectedGroup)="setSelectedGroup($event)" [searchAgainValue]="searchAgainValue" [item]="currentItem" [element]="element" ></app-elementlist>
    </div>


  <nav class="col-12 main" style="bottom: 7%;position: fixed;z-index: 998;background-color: grey;">
    <div class="row">
      <div class="col-12 col-lg-10">
   
        <div class="nav justify-content-center" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" (click)="setElement('grupo')" class="btn-check btn-block" name="btnradio" id="btnradio1" autocomplete="off" checked>
          <label class="btn btn-outline-primary" for="btnradio1">Grupos</label>
        
          <input type="radio" (click)="setElement('usuario')" class="btn-check btn-block" name="btnradio" id="btnradio2" autocomplete="off">
          <label class="btn btn-outline-primary" for="btnradio2">Usuarios</label>
        
          <input type="radio" (click)="setElement('evento')" class="btn-check btn-block" name="btnradio" id="btnradio3" autocomplete="off">
          <label class="btn btn-outline-primary" for="btnradio3">Publicaciones</label>
        </div>
      </div>
      <div class="col-12 col-lg-2" >
        <button class="btn btn-warning btn-block" (click)="newItem()">Nuevo</button>
      </div>
    </div>
   </nav>
 </div>
<!-- Button trigger modal -->
<button type="button" id="showModal" data-bs-toggle="modal" data-bs-target="#exampleModal">
</button>

<app-modal [item]="currentItem" [element]="element"></app-modal>

