  <div class="container-fluid col-12" >
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-link" *ngFor="let item of navbar.navBarItems">
            <button type="button" value="item.name" (click)="selectedElement(item)" class="btn btn-block btn-outline-primary" >
              {{item.name}}
            </button>
            
          </li>
          <li class="nav-item">
            <button *ngIf="newBtn" class="btn btn-warning btn-block" (click)="selectedElement()">Nuevo</button>
          </li>
        </ul>
        <form (ngSubmit)="onSubmit( t )" #t="ngForm" class="d-flex aling-content-right">
          <div>
            <input [(ngModel)]="keyToSearch" type="search" minlength="3" placeholder="Buscar" name="keyToSearch" id="keyToSearch" class="form-control me-2" (input)="onSearchChange($event.target.value)">
          <span *ngIf="t.submitted && t.controls['keyToSearch'].errors" class="text-danger text-sm animated fadeIn">
            Búsqueda mínima de 3 caracteres.
          </span>
          </div>
          
          <button class="btn btn-warning text-white" type="submit">Buscar</button>
        </form>
      </div>
    </div>
    
    
    
