<div class="d-flex form-inline">
    <input #valueText type="text" (keyup.enter)="saveMessage(valueText.value)" class="form-control" id="valueText"/>
    <button class="btn btn-primary align-content-end" (click)="saveMessage(valueText.value)">Enviar</button>
  </div>
  <div class="container">
    <hr class="text-white"/>
    <h5 class="text-white">Opciones de búsqueda</h5>
    <hr class="text-white"/>
    <button *ngFor="let option of item.options" class="btn btn-primary btn-sm" (click)="saveMessage(option.value)">{{option.name}}</button>
  </div>